.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-block {
  margin-block: 1rem;
}