.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.m-block {
  margin-block: 1rem;
}