.home-wrapper {
  width: auto;
  height: auto;
}

.season-header {
  text-align: center;
}


.schedule-wrapper {
  background: rgba(0, 0, 0, .65);
  width: 900px;
  height: 520px;
  display: flex;
  justify-content: center;
  gap: 2rem;
  overflow: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.schedule-column1 {
  height: 800px;
  width: 400px;
  color: white;
}

.schedule-column2 {
  height: 850px;
  width: 400px;
  color: white;
}

.country {
  color: red;
}

.mapped-divs {
  border-bottom: 1px solid red;
}

.countryDiv {
  display: flex;
  gap: 1rem;
}

.countryDiv img {
  width: 50px;
}

div.schedule-wrapper::-webkit-scrollbar {
  width: 15px;
  background: lightgray;
}

div.schedule-wrapper::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,255,1);
  border-radius: 15px;
}

div.schedule-wrapper::-webkit-scrollbar-thumb {
  border-radius: 15px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: red;
}